<nav><ul style="list-style-type:none;">
    <li style="display:inline-block;"><a href="/"><button class="btn btn-primary">Home</button></a></li>
    <li style="display:inline-block;"><a href="/tests"><button class="btn btn-success">Tests result</button></a></li>
    <li style="display:inline-block;"><a href="/requests"><button class="btn btn-info">Monitoring</button></a></li>
</ul></nav>