<nav><ul style="list-style-type:none;">
    <li style="display:inline-block;"><a href="/"><button class="btn btn-primary">Acceuil</button></a></li>
    <li style="display:inline-block;"><a href="/tests"><button class="btn btn-success">Dernier tests</button></a></li>
    <li style="display:inline-block;"><a href="/requests"><button class="btn btn-info">Requêtes</button></a></li>
    <li style="display:inline-block;"><a href="/pushs"><button class="btn btn-info">Nouveau code</button></a></li>
    <li style="display:inline-block;"><a href="/deployments"><button class="btn btn-info">Déploiements</button></a></li>
</ul></nav>