<nav>
    <ul>
        <li><a href="/">Acceuil</a></li>
        <li><a href="/tests">Dernier tests</a></li>
        <li><a href="/requests">Requêtes</a></li>
        <li><a href="/pushs">Nouveau code</a></li>
        <li><a href="/deployments">Déploiements</a></li>
    </ul>
</nav>