<!DOCTYPE HTML>
<!--
	Stellar by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>Node.js & DevOps</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="css/main.css" />
		<!--[if lte IE 9]><link rel="stylesheet" href="css/ie9.css" /><![endif]-->
		<!--[if lte IE 8]><link rel="stylesheet" href="css/ie8.css" /><![endif]-->
	</head>
	<body>

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<h1>Node.js</h1>
						<p>A DevOps friendly project</p>
					</header>

				<!-- Main -->
					<div id="main">

						<!-- Content -->
							<section id="content" class="main">

								<!-- Text -->
									<section>
										<h2>Project</h2>
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras vitae erat ac quam scelerisque volutpat. Nam mollis vulputate lacus, vel finibus turpis commodo et. Vestibulum gravida varius consectetur. Vivamus id bibendum ex. Donec tincidunt magna in eros egestas scelerisque. Sed sollicitudin et justo vitae consequat. Aenean tincidunt libero ac nibh congue elementum. Pellentesque pellentesque orci eu vulputate aliquam. Nullam consectetur massa diam. Phasellus vehicula convallis consequat. Sed nulla risus, viverra eu ipsum nec, congue fermentum ex. Curabitur venenatis neque vitae imperdiet tempus. Donec interdum lacinia diam, feugiat condimentum dolor consectetur ut. Fusce ut nibh in urna facilisis imperdiet sit amet eu risus. Suspendisse potenti.</p>
										<p>Donec sodales ac nunc mattis finibus. Morbi dapibus malesuada elit, non luctus dolor porta eget. Curabitur augue velit, laoreet vitae facilisis vel, condimentum finibus nunc. Mauris aliquet tellus purus, nec fermentum elit ullamcorper in. Nunc eget faucibus sem. Suspendisse venenatis convallis arcu, faucibus volutpat purus imperdiet at. Morbi risus metus, ornare id augue quis, condimentum consectetur orci. Etiam dui magna, tempor eu porttitor vitae, tristique sed nisl. Morbi ultrices lacus est, eu euismod leo consequat id. In in luctus nibh. Maecenas ac enim non enim malesuada gravida. Aenean sit amet mattis mauris. Quisque blandit lobortis ultricies. Donec ullamcorper pretium elementum.</p>
									</section>

									<section>
										<h2>Tests</h2>
										<p>See last tests result <a href="/tests">here</a></p>
									</section>

									<section>
										<h2>Monitoring/Telemetry</h2>
										<p>Monitored server requests <a href="/requests">here</a></p>
										<p>Monitored code pushs <a href="/pushs">here</a></p>
										<p>Monitored code delivery <a href="/deployments">here</a></p>
									</section>
								
				<!-- Footer -->
					<footer id="footer">
						
						<p class="copyright">Adrian Pothuaud</p>
					</footer>

			</div>

		<!-- Scripts -->
			<script src="js/jquery.min.js"></script>
			<script src="js/jquery.scrollex.min.js"></script>
			<script src="js/jquery.scrolly.min.js"></script>
			<script src="js/skel.min.js"></script>
			<script src="js/util.js"></script>
			<!--[if lte IE 8]><script src="js/ie/respond.min.js"></script><![endif]-->
			<script src="js/main.js"></script>

	</body>
</html>