<!DOCTYPE HTML>
<!--
	Stellar by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>Node.js & DevOps</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="css/main.css" />
		<!--[if lte IE 9]><link rel="stylesheet" href="css/ie9.css" /><![endif]-->
		<!--[if lte IE 8]><link rel="stylesheet" href="css/ie8.css" /><![endif]-->
	</head>
	<body>

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<h1>Node.js</h1>
						<p>A DevOps friendly project</p>
					</header>

				<!-- Main -->
					<div id="main">

						<!-- Content -->
							<section id="content" class="main">

								<!-- Text -->
									<section>
										<h2>Code pushs</h2>
                                        
                                        <div class="col-md-6 col-xs-12">
                                            <a href="https://plot.ly/~adrianpothuaud/2/?share_key=BW7Vw7sFbbQ3OMHprmMt3g" target="_blank" title="requests" style="display: block; text-align: center;"><img src="https://plot.ly/~adrianpothuaud/2.png?share_key=BW7Vw7sFbbQ3OMHprmMt3g" alt="requests" style="max-width: 100%;width: 600px;"  width="600" onerror="this.onerror=null;this.src='https://plot.ly/404.png';" /></a>
                                            <script data-plotly="adrianpothuaud:2" sharekey-plotly="BW7Vw7sFbbQ3OMHprmMt3g" src="https://plot.ly/embed.js" async></script>
                                        </div>
                                        
                                        <p><a href="/">Back to home page</a></p>
									</section>
								
				<!-- Footer -->
					<footer id="footer">
						
						<p class="copyright">Adrian Pothuaud</p>
					</footer>

			</div>

		<!-- Scripts -->
			<script src="js/jquery.min.js"></script>
			<script src="js/jquery.scrollex.min.js"></script>
			<script src="js/jquery.scrolly.min.js"></script>
			<script src="js/skel.min.js"></script>
			<script src="js/util.js"></script>
			<!--[if lte IE 8]><script src="js/ie/respond.min.js"></script><![endif]-->
			<script src="js/main.js"></script>

	</body>
</html>