<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>
  
  <h1>If we can Node.js, we can DevOps !</h1>
  
  <p></p>
  <hr/>
  <p></p>
  
  <h3>Deploys graph</h3>
  
  <div>
    <a href="https://plot.ly/~adrianpothuaud/0/?share_key=cko1ymVhFk15V1UbCp71oD" target="_blank" title="requests" style="display: block; text-align: center;"><img src="https://plot.ly/~adrianpothuaud/0.png?share_key=cko1ymVhFk15V1UbCp71oD" alt="requests" style="max-width: 100%;width: 600px;"  width="600" onerror="this.onerror=null;this.src='https://plot.ly/404.png';" /></a>
    <script data-plotly="adrianpothuaud:0" sharekey-plotly="cko1ymVhFk15V1UbCp71oD" src="https://plot.ly/embed.js" async></script>
  </div>

  <p></p>
  <hr/>
  <p></p>
  
  <p>A project template by Adrian Pothuaud</p>
  <p>Last updated: 02-05-2018 @ 23'53</p>

</body>
</html>
