<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  
  <h1>If we can Node.js, we can DevOps !</h1>
  
  <p></p>
  <hr/>
  <p></p>
  
  <p>This app is continuously integrated, built, tested, deployed and monitored.</p>
  <p>This is DevOps !</p>
  
  <p></p>
  <hr/>
  <p></p>
  
  <p>Last build : <img src="https://app.codeship.com/projects/837e67e0-e97d-0135-f6f9-0a40330e9728/status?branch=master"></p>
  <p>Last test report : <a href="/tests">here</a></p>
  <p>Last security check : <img src="https://snyk.io/test/github/adrianpothuaud/projet-test/badge.svg?targetFile=package.json" alt="Known Vulnerabilities"></p>
  <p>Last deployment : (coming soon)</p>
  
  <p></p>
  <hr/>
  <p></p>
  
  <p>Requests this week : (coming soon)</p>
  
  <p></p>
  <hr/>
  <p></p>
  
  <p>A project template by Adrian Pothuaud</p>
  <p>Last updated: 02-05-2018 @ 23'53</p>

</body>
</html>
