<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  
  <h1>Hello DevOps !</h1>
  
  <p>I am continuously integrated, tested, deployed and monitored. This is what we call DevOps :)</p>
  
  <p>Last build : <img src="https://app.codeship.com/projects/837e67e0-e97d-0135-f6f9-0a40330e9728/status?branch=master"></p>
  
  <p>Last test report <a href="/tests">here</a></p>
  
  <p>A project template by Adrian Pothuaud</p>

  <p>Last updated: 02-03-2018 @ 8'15</p>
  
  <p>My security status is also automaticaly checked : </p>
  
  <p>Last check : <img src="https://snyk.io/test/github/adrianpothuaud/projet-test/badge.svg?targetFile=package.json" alt="Known Vulnerabilities" data-canonical-src="https://snyk.io/test/github/adrianpothuaud/projet-test?targetFile=package.json" style="max-width:100%;"></p>

</body>
</html>
