<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  
  <h1>Hello DevOps !</h1>
  
  <p>I am continuously integrated and deployed :)</p>
  
  <p>A project template by Adrian Pothuaud</p>

  <p>Last updated: 02-02-2018 @ 7'40</p>

</body>
</html>
