<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>
    
  <p></p>
  <hr/>
  <p></p>
  
  <h3>Graphique des requêtes sur l'application</h3>
  
  <div class="col-md-6 col-xs-12">
    <a href="https://plot.ly/~adrianpothuaud/2/?share_key=BW7Vw7sFbbQ3OMHprmMt3g" target="_blank" title="requests" style="display: block; text-align: center;"><img src="https://plot.ly/~adrianpothuaud/2.png?share_key=BW7Vw7sFbbQ3OMHprmMt3g" alt="requests" style="max-width: 100%;width: 600px;"  width="600" onerror="this.onerror=null;this.src='https://plot.ly/404.png';" /></a>
    <script data-plotly="adrianpothuaud:2" sharekey-plotly="BW7Vw7sFbbQ3OMHprmMt3g" src="https://plot.ly/embed.js" async></script>
  </div>

  <p></p>
  <hr/>
  <p></p>
  
  <% include ../partials/foot.ejs %>

</body>
</html>
